[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
astropy = "*"
matplotlib = "*"
scipy = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.7"
